body{
    background-size: auto;
     background-color: rgba(10, 10, 129, 0.877);
    color:rgb(221, 215, 202); 
   margin-left: 24%;
   margin-right: 24%;
}
h1{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px; 
}
.mail{
    margin-top: 5px;
}
p{
    font-size: 14px;
    line-height: 20px;
}
.green{
    color:green;
}
.space{
    word-spacing: 50px;
   
}

    span {
        color: rgb(214, 18, 18);
        /* background: black; */
        border-bottom: 1px solid red;
    }
  
    